/*Default
*/
html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

/*Add Information
*/
.addInformation {
    position: relative;
    width: 1200px;
    height: 100px;
    border: solid 5px white;
    left: 50%;
    margin-left: -600px;
    margin-top: 35px;
    margin-bottom: 20px;
}

.addInformation .addBtn {
    position: absolute;
    cursor: pointer;
    font-size: 50px;
    color: white;
    background-color: transparent;
    border: 0;
    padding: 21.2px 585.4px;
    transition: background-color 0.3s;
}

.addInformation .addBtn:hover {
    background-color: gray;
}

/*Information Wrap
*/
.information {
    position: relative;
    width: 700px;
    height: 230px;
    left: 50%;
    margin-left: -350px;
    margin-top: 30px;
    background-color: #f5c6ee;
    border-radius: 7px;
}

.information input {
    background-color: transparent;
    padding: 3px 2px;
    border: 0;
    border-bottom: solid 3px purple;
}

/*Get Name
*/
.information .getName {
    position: absolute;
    margin: 15px 0 0 15px;
}

.getName .nameInput {
    font-size: 18px;
    width: 660px;
    height: 21px;
}

/*Movie Rate
*/
.information .movieRate,
.information .rateFinal {
    position: absolute;
    margin: 53px 0 0 260px;
}

.movieRate span,
.rateFinal span {
    font-size: 24px;
    margin: 0 3px;
}

.movieRate span {
    cursor: pointer;
}

.information .rateResetBtn {
    position: absolute;
    margin: 54px 0 0 490px;
}

.rateResetBtn .resetBtn {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    font-size: 23px;
    cursor: pointer;
}

/*Line Review
*/
.information .lineReview {
    position: absolute;
    margin: 96px 0 0 15px;
}

.lineReview .reviewInput {
    font-size: 18px;
    width: 660px;
    height: 21px;
}

/*Link
*/
.link {
    position: absolute;
    margin: 138px 0 0 15px;
}

.link .linkInput {
    font-size: 18px;
    width: 660px;
    height: 21px;
}

/*Save Button
*/
.save {
    position: absolute;
    margin: 190px 0 0 15px;
}

.save .saveBtn {
    cursor: pointer;
    padding: 1px 3px;
    color: #4b0082;
    border-color: #4b0082;
    border-radius: 3px;
    background-color: yellow;
    font-size: 18px;
}

.editSave {
    position: absolute;
    margin: 190px 0 0 15px;
}

.editSave .editSaveBtn {
    cursor: pointer;
    padding: 1px 3px;
    color: #4b0082;
    border-color: #4b0082;
    border-radius: 3px;
    background-color: yellow;
    font-size: 18px;
}

/*Cancel Button
*/
.cancel {
    position: absolute;
    margin: 190px 0 0 75px;
}

.cancel .cancelBtn {
    cursor: pointer;
    padding: 1px 3px;
    color: #4b0082;
    border-color: #4b0082;
    border-radius: 3px;
    background-color: yellow;
    font-size: 18px;
}

/*Title
*/
.title {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

/*Movie List
*/
.movieList {
    position: relative;
    width: 1400px;
    left: 50%;
    margin-left: -700px;
    padding-bottom: 30px;
}

.movieList ul {
    position: relative;
    list-style: none;
    padding: 0;
    width: 1300px;
    left: 50%;
    margin-left: -650px;
}

.movieList ul li {
    position: relative;
    width: 1200px;
    height: 140px;
    left: 50%;
    margin-left: -600px;
    margin-bottom: 20px;
    background-color: paleturquoise;
    border-radius: 7px;
}

.movieList li h2 {
    float: left;
    font-size: 30px;
    margin: 9px 0 0 20px;
}

.movieList li span {
    float: left;
    font-size: 20px;
    margin: 17px 0 0 15px;
}

.movieList li h4 {
    position: absolute;
    margin: 60px 0 0 28px;
    font-weight: 500;
    font-size: 20px;
}

.movieList li p {
    position: absolute;
    margin: 100px 0 0 30px;
    cursor: pointer;

}

.movieList li button {
    float: right;
    margin: 10px 7px 0 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.movieList li .editBtn {
    font-size: 17px;
    margin: 7px 4px 0 0;
}

/*Nothing in List
*/
.movieList .nothingInList {
    color: white;
    font-size: 20px;
    text-align: center;
}

/*JS Setting
*/
.addInformation,
.information,
.movieRate,
.rateFinal,
.rateResetBtn,
.nothingInList,
.saveBtn,
.editSaveBtn,
ul li button {
    display: none;
}

.showing {
    display: block;
}
