/*Default
*/
html, body, ul {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-image: url(bgImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -50px;
    z-index: -1;
}

input {
    letter-spacing: 1px;
}

input:focus {
    outline: none;
}

input:focus::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

/*Main Wrap
*/
.mainWrap {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*Add Information
*/
.addInformation {
    position: relative;
    width: 1000px;
    height: 100px;
    border: solid 5px white;
    left: 50%;
    margin-left: -500px;
    margin-top: 35px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px black;
}

.addInformation .addBtn {
    position: absolute;
    cursor: pointer;
    font-size: 50px;
    color: white;
    background-color: transparent;
    border: 0;
    padding: 21.2px 485.4px;
    transition: background-color 0.3s;
}

.addInformation .addBtn:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

/*Information Wrap
*/
.information {
    position: relative;
    width: 700px;
    height: 230px;
    left: 50%;
    margin-left: -350px;
    margin-top: 30px;
    background-color: rgba(245, 198, 238, 0.85);
    box-shadow: 0 0 7px black;
    border-radius: 7px;
}

.information input {
    background-color: transparent;
    padding: 3px 2px;
    border: 0;
    border-bottom: solid 3px purple;
}

/*Get Name
*/
.information .getName {
    position: absolute;
    margin: 15px 0 0 15px;
}

.getName .nameInput {
    font-size: 18px;
    width: 660px;
    height: 21px;
}

/*Movie Rate
*/
.information .movieRate,
.information .rateFinal {
    position: absolute;
    margin: 53px 0 0 260px;
    text-shadow: 0 0 1.5px black;
}

.movieRate span,
.rateFinal span {
    font-size: 24px;
    margin: 0 3px;
}

.movieRate span {
    cursor: pointer;
}

.information .rateResetBtn {
    position: absolute;
    margin: 54px 0 0 490px;
}

.rateResetBtn .resetBtn {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    font-size: 23px;
    cursor: pointer;
}

/*Line Review
*/
.information .lineReview {
    position: absolute;
    margin: 96px 0 0 15px;
}

.lineReview .reviewInput {
    font-size: 18px;
    width: 660px;
    height: 21px;
}

/*Link
*/
.link {
    position: absolute;
    margin: 138px 0 0 15px;
}

.link .linkInput {
    font-size: 18px;
    width: 660px;
    height: 21px;
}

/*Save Button
*/
.save {
    position: absolute;
    margin: 190px 0 0 15px;
}

.save .saveBtn {
    cursor: pointer;
    padding: 1px 3px;
    color: #4b0082;
    border-color: #4b0082;
    border-radius: 3px;
    background-color: yellow;
    box-shadow: 0 0 1.3px #4b0082;
    font-size: 18px;
}

.editSave {
    position: absolute;
    margin: 190px 0 0 15px;
}

.editSave .editSaveBtn {
    cursor: pointer;
    padding: 1px 3px;
    color: #4b0082;
    border-color: #4b0082;
    border-radius: 3px;
    background-color: yellow;
    box-shadow: 0 0 1.3px #4b0082;
    font-size: 18px;
}

/*Cancel Button
*/
.cancel {
    position: absolute;
    margin: 190px 0 0 75px;
}

.cancel .cancelBtn {
    cursor: pointer;
    padding: 1px 3px;
    color: #4b0082;
    border-color: #4b0082;
    border-radius: 3px;
    background-color: yellow;
    box-shadow: 0 0 1.3px #4b0082;
    font-size: 18px;
}

/*Title
*/
.title {
    position: relative;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
    text-shadow: 0 0 10px black;
}

/*Movie List
*/
.movieList {
    position: absolute;
    width: 1250px;
    height: 60%;
    overflow-x: hidden;
    overflow-y: auto;
    left: 50%;
    margin-left: -625px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
}

::-webkit-scrollbar-thumb {
    background-color: #ececec;
    border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #c1c1c1;
}

::-webkit-scrollbar-thumb:active {
    background-color: darkgray;
}

.movieList ul {
    position: relative;
    list-style: none;
    padding: 0;
    width: 1300px;
    left: 50%;
    margin-left: -650px;
}

.movieList ul li {
    position: relative;
    width: 1000px;
    height: 140px;
    left: 50%;
    margin-left: -500px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(175, 238, 238, 0.93);
    border-radius: 7px;
    box-shadow: 0 0 7px black;
}

.movieList li h2 {
    float: left;
    font-size: 30px;
    margin: 9px 0 0 20px;
}

.movieList li span {
    float: left;
    font-size: 20px;
    margin: 17px 0 0 15px;
}

.movieList li h4 {
    position: absolute;
    margin: 60px 0 0 28px;
    font-weight: 500;
    font-size: 20px;
}

.movieList li p {
    position: absolute;
    margin: 100px 0 0 30px;
    cursor: pointer;

}

.movieList li button {
    float: right;
    margin: 10px 7px 0 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.movieList li .editBtn {
    font-size: 17px;
    margin: 7px 4px 0 0;
}

/*Nothing in List
*/
.movieList .nothingInList {
    color: white;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 0 10px black;
}

/*JS Setting
*/
.addInformation,
.information,
.movieRate,
.rateFinal,
.rateResetBtn,
.nothingInList,
.saveBtn,
.editSaveBtn,
ul li button {
    display: none;
}

.showing {
    display: block;
}
